{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": 0,
    "arrow-body-style": [
      2,
      "as-needed"
    ],
    "comma-dangle": 0,
    "no-console": 0,
    "class-methods-use-this": 0,
    "react/jsx-uses-vars": 2,
    "react/jsx-uses-react": 2,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js"
        ]
      }
    ]
  }
}