body {
    background: #999;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center
}


/* Main.js */

#title,
#generations {
    font-size: 5rem;
    text-align: center;
    font-family: trebuchet ms;
    color: #333;
    margin-top: 3%;
}

#generations {
    font-size: 1.5em;
}


/* Main.js */


/* Grid.js & Box.js*/

table {
    display: flex;
    margin: 5% auto
}

.grid {
    /* width: 150px; */
    line-height: 0;
    margin: auto;
    margin-top: 20px;
}

.box {
    display: inline-block;
    border: 0.5px #fff solid;
    width: 15px;
    height: 15px;
    margin-left: -1px;
    margin-bottom: -1px;
}

.box:hover {
    background: rgb(214, 126, 192);
    border: #888;
    transform: translateY(-0.15em) translateX(-0.05em);
}

.off {
    background: #999;
}

.on {
    background: rgb(142, 50, 11);
}


/* Grid.js & Box.js*/

.center {
    margin: auto;
    display: table;
}

.buttons {
    margin-bottom: 5%;
}